.contacts {
    &__body {}
    &__title {}
}

.contacts-list {}

.contacts-item {
    margin: 40px 0;
    &__body {}
}

.contacts-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.contacts-title {
    &__title {}
}

.contacts-img {
    
    &__img {
        max-width: 500px;
        border-radius: 10px;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
}

.contacts-map {
    margin-top: 20px;
    &__map {
        border: 1px solid #3b3b3b;
    }
}

.contacts-info {
    &__block {
        margin-top: 30px;
        // &:first-child {
        //     margin-top: 0;
        // }
        &_title {

        }
        &_text {
            margin-top: 20px;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #3b3b3b;
    }
    }
    
}