@import '../../scss/style.scss';

.nav {}

.nav-body {
  @media (max-width: $md3+px) {
    padding-top: 30px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  padding: 0 15px;
  line-height: 1;
  @media (max-width: $md3+px) {
    border-top: 1px solid #efefef;
    padding: 0;
  }
  &:first-child {
    padding-left: 0;
    @media (max-width: $md2+px) {
      padding-left: 0px;
    }
  }
  &:last-child {
    padding-right: 0;
    @media (max-width: $md2+px) {
      padding-right: 15px;
    }
    @media (max-width: $md2+px) {
      border-bottom: 1px solid #efefef;
    }
  }
  &__body {
  padding: 15px 0;  
  position: relative;
  font-family: 'FuturaPT-bold';
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 50%;
    width: 0px;
    border-bottom: 2px solid #3b3b3b;
    transition: all 0.3s ease-in-out;
  }
  &:hover:after {
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid #3b3b3b;
  }
  }
  &__link {
    color: inherit;
    &_img {
      font-size: 15px;
      vertical-align: bottom;
      margin: 5px 0 0 5px ;
      color: inherit;
    }
    &_text {
      font-size: 15px;
      @media (max-width: $md3+px) {
        font-size: 20px;
      }
    }
  }
}

.dropdown {
  position: relative;
  @media (max-width: $md3+px) {
    margin-bottom: 15px;
  }
}

.dropdown-body {
  position: absolute;
  top: 10px;
  transition: 2s ease-in-out;
  z-index: 3;
  box-shadow: 0 0 0 1px rgba(128,128,128,.5);
  background: #f6f6f6;
  width: 230px;
}

.dropdown-list {
  &__item {
    padding: 5px 10px;
    font-family: $fontFamily;
    @media (max-width: $md3+px) {
      padding: 5px 0 5px 30px;
    }
    //&_link {}

    &_text {
      color: #3b3b3b;
      transition: padding-left 0.3s linear;
      @media (max-width: $md3+px) {
        font-size: 17px;
      }
      &:hover {
        padding-left: 5px;
        color: #ff9902;
      }
    }
  }
}

.mobile-menu {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    &__logo {
    &_img {
      height: 70px;
    }
    &__icon {
      font-size: 20px;
    }
    &__search {
      font-size: 20px;
    }
  }
}

.mobile-navigation {
  position: fixed;
  background: #f6f6f6;
  height: 100vh;
  width: 70%;
  left: 0;
  z-index: 10;
  &__icon {
    float: right;
    margin: 5px 5px 0 0;
    border: 3px solid #3b3b3b;
    border-radius: 50%;
    padding: 2px 4.5px;
  }
  &__list {
    padding-top: 50px;
  }
}

.nav-item-mobile {
  font-family: 'FuturaPT-bold';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 15px;
}

.mobile-plus-icon {
  color: #3b3b3b;
  margin-right: 20px;
}





