 @font-face {
   font-family: 'FuturaPT-exBold';
   src:  url(../assets/fonts/FuturaPT/futura-pt-extra-bold.ttf) format('truetype');
 }

 @font-face {
  font-family: 'FuturaPT-bold';
  src:  url(../assets/fonts/FuturaPT/futura-pt-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'FuturaPT-regular';
  src:  url(../assets/fonts/FuturaPT/futura-pt-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'FuturaPT-light';
  src:  url(../assets/fonts/FuturaPT/futura-pt-light.ttf) format('truetype');
}

@font-face {
  font-family: 'FuturaPT-book';
  src:  url(../assets/fonts/FuturaPT/futura-pt-book.ttf) format('truetype');
}

 @font-face {
   font-family: 'Caveat';
   src:  url(../assets/fonts/Caveat/Caveat-Regular.ttf) format('truetype');
 }



