.clubs {
    &__body {}
}

.genre-list {
    font-size: 17px;
    color: #3b3b3b;
    line-height: 1.3;
    &__item {
        position: relative;
        margin: 50px 0;
        &::after {
            content: ' ';
            position: absolute;
            bottom: -30px;
            left: 0;
            border-bottom: 1px solid #3b3b3b;
            width: 100%;
        }
    }
}

.genre-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.genre-title {
    &__text {
        text-align: start;
        margin: 0;
    }
}

.genre-text {
    margin: 15px 0;
    &__text {
        padding-right: 40px;
    }
}

.genre-link {
    &__link {
        &_text {
            text-align: center;
            color: #3b3b3b;
            font-size: 14px;
            padding-top: 5px;
        }
    }
}

.genre-img {
    &__img {
        width: 450px;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

    }
}