@import '../../scss/style.scss';

.slider-body {}

.slider-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
    @media (max-width: $md2+px) {
        padding: 20px 0;
    }
    @media (max-width: $md3+px) {
        padding: 10px 0;
    }
}

.slider {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    @media (max-width: $md2+px) {
        height: 400px;
    }
    @media (max-width: $md3+px) {
        height: 300px;
    }
    @media (max-width: $md4+px) {
        height: 200px;
    }
}

.slider-icons {
    width: 20px;
    color: white;
}

.slide {
    min-width: 100%;
    height: auto;
    text-align: center;
    transition: 0.9s ease;
}

.slide-img {
    width: 100%;
    height: auto;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    transition: 0.5s ease-in-out;
    &:hover {
      background: rgba(0, 0, 0, 0.356);
    }
    &__icon-left {
        position: relative;
        width: 100%;
        &_ico {
            position: absolute;
            top: 48%;
            left: 45%;
        }
    }
    &__icon-right {
        position: relative;
        width: 100%;
        &_ico {
            position: absolute;
            top: 48%;
            right: 45%;
        }
    }
}

#left {
    left: 0;
}

#right {
    right: 0;
}


